[[chains]]
id = 'quasar-1'
{% include 'ports.toml.j2' %}

rpc_timeout = '20s'
account_prefix = 'quasar'
key_name = 'relayer'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 150000
max_gas = 3000000
gas_price = { price = 0.000, denom = 'ibc/0471F1C4E7AFD3F07702BEF6DC365268D64570F7C1FDC98EA6098DD6DE59817B' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-1'], # Osmosis

  ['wasm.quasar1kj8q8g2pmhnagmfepp9jh9g2mda7gzd0m5zdq0s08ulvac8ck4dq9ykfps', 'channel-8'], # Osmosis
  ['wasm.quasar1kj8q8g2pmhnagmfepp9jh9g2mda7gzd0m5zdq0s08ulvac8ck4dq9ykfps', 'channel-9'], # Osmosis
  ['wasm.quasar1kj8q8g2pmhnagmfepp9jh9g2mda7gzd0m5zdq0s08ulvac8ck4dq9ykfps', 'channel-10'], # Osmosis
  ['wasm.quasar1kj8q8g2pmhnagmfepp9jh9g2mda7gzd0m5zdq0s08ulvac8ck4dq9ykfps', 'channel-11'], # Osmosis
  ['wasm.quasar1kj8q8g2pmhnagmfepp9jh9g2mda7gzd0m5zdq0s08ulvac8ck4dq9ykfps', 'channel-23'], # Osmosis
  ['wasm.quasar1ma0g752dl0yujasnfs9yrk6uew7d0a2zrgvg62cfnlfftu2y0egqx8e7fv', 'channel-13'], # Osmosis
  ['wasm.quasar1ma0g752dl0yujasnfs9yrk6uew7d0a2zrgvg62cfnlfftu2y0egqx8e7fv', 'channel-25'], # Osmosis
  ['wasm.quasar1ery8l6jquynn9a4cz2pff6khg8c68f7urt33l5n9dng2cwzz4c4qxhm6a2', 'channel-15'], # Osmosis
  ['wasm.quasar1ery8l6jquynn9a4cz2pff6khg8c68f7urt33l5n9dng2cwzz4c4qxhm6a2', 'channel-26'], # Osmosis
]
