[[chains]]
id = 'secret-4'
{% include 'ports.toml.j2' %}

rpc_timeout = '30s'
account_prefix = 'secret'
key_name = 'relayer'
store_prefix = 'ibc'
max_msg_num = 30
max_tx_size = 2097152
default_gas = 100000
max_gas = 3500000
gas_multiplier = 1.25
gas_price = { price = 0.0125, denom = 'uscrt' }
clock_drift = '20s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3'}
address_type = { derivation = 'cosmos' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-1'], # Osmosis
  ['transfer', 'channel-8'], # Juno
  ['transfer', 'channel-40'], # Juno Wasm
  ['transfer', 'channel-11'], # Chihuahua
  ['transfer', 'channel-17'], # Gravity
  ['transfer', 'channel-18'], # Evmos
  ['transfer', 'channel-20'], # Axelar
  ['transfer', 'channel-21'], # Akash
  ['transfer', 'channel-22'], # Kujira
  ['transfer', 'channel-23'], # Injective
  ['transfer', 'channel-37'], # Stride
  ['transfer', 'channel-63'], # Comdex
  ['transfer', 'channel-51'], # Agoric
  ['transfer', 'channel-57'], # Whitewhale
  ['transfer', 'channel-62'], # Jackal
  ['transfer', 'channel-64'], # Persistence
  ['transfer', 'channel-65'], # Quicksilver
  ['wasm.secret1tqmms5awftpuhalcv5h5mg76fa0tkdz4jv9ex4', 'channel-44'], # Osmosis SNIP20
  ['wasm.secret1tqmms5awftpuhalcv5h5mg76fa0tkdz4jv9ex4', 'channel-45'], # Juno SNIP20
  ['wasm.secret1tqmms5awftpuhalcv5h5mg76fa0tkdz4jv9ex4', 'channel-46'], # Kujira SNIP20
  ['wasm.wasm.secret1yxjmepvyl2c25vnt53cr2dpn8amknwausxee83', 'channel-61'], # Axelar SNIP20
]
