[[chains]]
id = 'stride-1'
{% include 'ports.toml.j2' %}

rpc_timeout = '20s'
account_prefix = 'stride'
key_name = 'relayer'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 150000
max_gas = 3000000
gas_price = { price = 0.000, denom = 'ustrd' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer',       'channel-0'], # Cosmos
  ['ica.delegation', 'channel-7'],
  ['ica.fee',        'channel-2'],
  ['ica.withdrawal', 'channel-3'],
  ['ica.redemption', 'channel-4'],

  ['transfer',       'channel-24'], # Juno
  ['ica.delegation', 'channel-48'],
  ['ica.fee',        'channel-26'],
  ['ica.withdrawal', 'channel-27'],
  ['ica.redemption', 'channel-28'],

  ['transfer',       'channel-5'],  # Osmosis
  ['ica.delegation', 'channel-42'],
  ['ica.fee',        'channel-43'],
  ['ica.withdrawal', 'channel-44'],
  ['ica.redemption', 'channel-45'],

  ['transfer',       'channel-52'], # Terra2
  ['ica.delegation', 'channel-70'],
  ['ica.fee',        'channel-59'],
  ['ica.withdrawal', 'channel-60'],
  ['ica.redemption', 'channel-61'],

  ['transfer',       'channel-9'], # Evmos
  ['ica.delegation', 'channel-62'], 
  ['ica.fee',        'channel-63'], 
  ['ica.withdrawal', 'channel-64'], 
  ['ica.redemption', 'channel-65'], 

  ['transfer', 'channel-6'], # Injective
  ['transfer', 'channel-8'], # Kujira
  ['transfer', 'channel-40'], # Secret
  ['transfer', 'channel-53'], # persistence
]
