[[chains]]
id = 'osmosis-1'
{% include 'ports.toml.j2' %}

rpc_timeout = '20s'
account_prefix = 'osmo'
key_name = 'relayer'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 400000
max_gas = 120000000
gas_price = { price = 0.01, denom = 'uosmo' }
gas_multiplier = 2
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-1'], # Akash
  ['transfer', 'channel-42'], # Juno
  ['transfer', 'channel-87'], # Comdex
  ['transfer', 'channel-88'], # Secret
  ['transfer', 'channel-108'], # Cheqd
  ['transfer', 'channel-113'], # Chihuahua
  ['transfer', 'channel-169'], # Juno CW-20
  ['transfer', 'channel-204'], # Evmos
  ['transfer', 'channel-259'], # Kujira
  ['transfer', 'channel-326'], # Stride
  ['transfer', 'channel-362'], # Teritori
  ['transfer', 'channel-412'], # Jackal
  ['transfer', 'channel-476'], # Secret SNIP20
  ['transfer', 'channel-557'], # Mars
  ['transfer', 'channel-642'], # Whitewhale

  ['transfer',       'channel-326'], # Stride
  ['ica.delegation', 'channel-456'],
  ['ica.fee',        'channel-451'],
  ['ica.withdrawal', 'channel-430'],
  ['ica.redemption', 'channel-441'],

  ['transfer',       'channel-688'], # Quasar
  ['icqhost',       'channel-704'], # Quasar
  ['icqhost',       'channel-703'], # Quasar
  ['icqhost',       'channel-705'], # Quasar
  ['icqhost',       'channel-706'], # Quasar
  ['icahost',       'channel-714'], # Quasar
  ['icqhost',       'channel-710'], # Quasar
  ['icahost',       'channel-718'], # Quasar
  ['icqhost',       'channel-712'], # Quasar
  ['icahost',       'channel-725'], # Quasar
]
