[[chains]]
id = 'quicksilver-2'
{% include 'ports.toml.j2' %}

rpc_timeout = '10s'
account_prefix = 'quick'
key_name = 'relayer'
store_prefix = 'ibc'
default_gas = 750000
max_gas = 1500000
gas_price = { price = 0.0001, denom = 'uqck' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 5000000
clock_drift = '5s'
max_block_time = '30s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
address_type = { derivation = 'cosmos' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-7'], #evmos
  ['transfer', 'channel-16'], # persistence
]
