[[chains]]
id = 'stride-1'
{% include 'ports.toml.j2' %}

rpc_timeout = '20s'
account_prefix = 'stride'
key_name = 'relayer'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 100000
max_gas = 1000000
gas_price = { price = 0.000, denom = 'ustrd' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  # cosmos
  ['transfer',       'channel-0'], # Cosmos
  ['ica.delegation', 'channel-7'], # Cosmos
  ['ica.fee',        'channel-2'], # Cosmos
  ['ica.withdrawal', 'channel-3'], # Cosmos
  ['ica.redemption', 'channel-4'], # Cosmos

  ['transfer',       'channel-24'], # Juno
  ['ica.delegation', 'channel-48'], # Juno
  ['ica.fee',        'channel-26'], # Juno
  ['ica.withdrawal', 'channel-27'], # Juno
  ['ica.redemption', 'channel-28'], # Juno

  ['transfer',       'channel-5'],  # Osmosis
  ['ica.delegation', 'channel-42'], # Osmosis
  ['ica.fee',        'channel-43'], # Osmosis
  ['ica.withdrawal', 'channel-44'], # Osmosis
  ['ica.redemption', 'channel-45'], # Osmosis

  ['transfer',       'channel-52'], # Terra2
  ['ica.delegation', 'channel-70'], # Terra2
  ['ica.fee',        'channel-59'], # Terra2
  ['ica.withdrawal', 'channel-60'], # Terra2
  ['ica.redemption', 'channel-61'], # Terra2

  ['transfer', 'channel-6'], # Injective
  ['transfer', 'channel-8'], # Kujira
  ['transfer', 'channel-9'], # Evmos
  ['transfer', 'channel-40'], # Secret
]
