[[chains]]
id = 'migaloo-1'
{% include 'ports.toml.j2' %}

rpc_timeout = '10s'
account_prefix = 'migaloo'
key_name = 'relayer'
store_prefix = 'ibc'
default_gas = 100000
max_gas = 1000000
gas_price = { price = 0.000, denom = 'uwhale' }
#gas_adjustment = 0.1
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '10s'
trusting_period = '10days'
trust_threshold = { numerator = '1', denominator = '3' }
address_type = { derivation = 'cosmos' }

memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Terra2
  ['transfer', 'channel-1'], # Juno
  ['transfer', 'channel-3'], # Injective
  ['transfer', 'channel-4'], # Secret
]